html {
  box-sizing: border-box;
  font-size: 10px;
  /* background: #ffc600; */
  background-image:url("../assets/svg/forest.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin:0;
  font-family: 'Amatic SC', cursive;
}

#grid{
  padding-top: 120px;
}

.gridElements{
  width:500px;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
}

.tile{
  flex:1 0 20%;
  display:flex;
  justify-content: center;
  height: 120px;
  box-sizing: border-box;
  background-color:#fff;
  border: 4px solid black;
  margin: 5px;
  padding: 5px;
}

.tile img{
  width:90%;
  box-sizing: border-box;
}